__pycache__/Babe_Audio.cpython-37.pyc
__pycache__/Babe_Audio.cpython-38.pyc
__pycache__/Babe_Audio.cpython-311.pyc
__pycache__/Babe.cpython-37.pyc
__pycache__/Babe.cpython-38.pyc
__pycache__/Babe.cpython-311.pyc
__pycache__/BabeSprites.cpython-37.pyc
__pycache__/BabeSprites.cpython-38.pyc
__pycache__/BabeSprites.cpython-311.pyc
__pycache__/Background.cpython-37.pyc
__pycache__/Background.cpython-38.pyc
__pycache__/Background.cpython-311.pyc
__pycache__/BackgroundMusic.cpython-37.pyc
__pycache__/BackgroundMusic.cpython-38.pyc
__pycache__/BackgroundMusic.cpython-311.pyc
__pycache__/Bonfire.cpython-38.pyc
__pycache__/Camera.cpython-38.pyc
__pycache__/Ending_Animation.cpython-37.pyc
__pycache__/Ending_Animation.cpython-38.pyc
__pycache__/Ending_Animation.cpython-311.pyc
__pycache__/environment.cpython-37.pyc
__pycache__/environment.cpython-38.pyc
__pycache__/environment.cpython-311.pyc
__pycache__/Flyers.cpython-37.pyc
__pycache__/Flyers.cpython-38.pyc
__pycache__/Flyers.cpython-311.pyc
__pycache__/hiddenwalls.cpython-37.pyc
__pycache__/hiddenwalls.cpython-38.pyc
__pycache__/hiddenwalls.cpython-311.pyc
__pycache__/JKGame.cpython-38.pyc
__pycache__/JumpKing.cpython-38.pyc
__pycache__/King_Audio.cpython-37.pyc
__pycache__/King_Audio.cpython-38.pyc
__pycache__/King_Audio.cpython-311.pyc
__pycache__/King_Particles.cpython-37.pyc
__pycache__/King_Particles.cpython-38.pyc
__pycache__/King_Particles.cpython-311.pyc
__pycache__/King_Sprites.cpython-37.pyc
__pycache__/King_Sprites.cpython-38.pyc
__pycache__/King_Sprites.cpython-311.pyc
__pycache__/King.cpython-37.pyc
__pycache__/King.cpython-38.pyc
__pycache__/King.cpython-311.pyc
__pycache__/Level.cpython-37.pyc
__pycache__/Level.cpython-38.pyc
__pycache__/Level.cpython-311.pyc
__pycache__/Menu.cpython-37.pyc
__pycache__/Menu.cpython-38.pyc
__pycache__/Menu.cpython-311.pyc
__pycache__/Names.cpython-37.pyc
__pycache__/Names.cpython-38.pyc
__pycache__/Names.cpython-311.pyc
__pycache__/NPC.cpython-37.pyc
__pycache__/NPC.cpython-38.pyc
__pycache__/NPC.cpython-311.pyc
__pycache__/physics.cpython-37.pyc
__pycache__/physics.cpython-38.pyc
__pycache__/physics.cpython-311.pyc
__pycache__/platform.cpython-38.pyc
__pycache__/Platforms.cpython-37.pyc
__pycache__/Platforms.cpython-38.pyc
__pycache__/Platforms.cpython-311.pyc
__pycache__/Props.cpython-37.pyc
__pycache__/Props.cpython-38.pyc
__pycache__/Props.cpython-311.pyc
__pycache__/Readable.cpython-37.pyc
__pycache__/Readable.cpython-38.pyc
__pycache__/Readable.cpython-311.pyc
__pycache__/scrolling.cpython-37.pyc
__pycache__/scrolling.cpython-38.pyc
__pycache__/scrolling.cpython-311.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/spritesheet.cpython-37.pyc
__pycache__/spritesheet.cpython-38.pyc
__pycache__/spritesheet.cpython-311.pyc
__pycache__/Start.cpython-37.pyc
__pycache__/Start.cpython-38.pyc
__pycache__/Start.cpython-311.pyc
__pycache__/Timer.cpython-37.pyc
__pycache__/Timer.cpython-38.pyc
__pycache__/Timer.cpython-311.pyc
__pycache__/weather.cpython-37.pyc
__pycache__/weather.cpython-38.pyc
__pycache__/weather.cpython-311.pyc
__pycache__/Wind.cpython-37.pyc
__pycache__/Wind.cpython-38.pyc
__pycache__/Wind.cpython-311.pyc
__pycache__/Babe_Audio.cpython-37.pyc
__pycache__/Babe_Audio.cpython-38.pyc
__pycache__/Babe_Audio.cpython-311.pyc
__pycache__/Babe.cpython-37.pyc
__pycache__/Babe.cpython-38.pyc
__pycache__/Babe.cpython-311.pyc
__pycache__/BabeSprites.cpython-37.pyc
__pycache__/BabeSprites.cpython-38.pyc
__pycache__/BabeSprites.cpython-311.pyc
__pycache__/Background.cpython-37.pyc
__pycache__/Background.cpython-38.pyc
__pycache__/Background.cpython-311.pyc
__pycache__/BackgroundMusic.cpython-37.pyc
__pycache__/BackgroundMusic.cpython-38.pyc
__pycache__/BackgroundMusic.cpython-311.pyc
__pycache__/Bonfire.cpython-38.pyc
__pycache__/Camera.cpython-38.pyc
__pycache__/Ending_Animation.cpython-37.pyc
__pycache__/Ending_Animation.cpython-38.pyc
__pycache__/Ending_Animation.cpython-311.pyc
__pycache__/environment.cpython-37.pyc
__pycache__/environment.cpython-38.pyc
__pycache__/environment.cpython-311.pyc
__pycache__/Flyers.cpython-37.pyc
__pycache__/Flyers.cpython-38.pyc
__pycache__/Flyers.cpython-311.pyc
__pycache__/hiddenwalls.cpython-37.pyc
__pycache__/hiddenwalls.cpython-38.pyc
__pycache__/hiddenwalls.cpython-311.pyc
__pycache__/JKGame.cpython-38.pyc
__pycache__/JumpKing.cpython-38.pyc
__pycache__/King_Audio.cpython-37.pyc
__pycache__/King_Audio.cpython-38.pyc
__pycache__/King_Audio.cpython-311.pyc
__pycache__/King_Particles.cpython-37.pyc
__pycache__/King_Particles.cpython-38.pyc
__pycache__/King_Particles.cpython-311.pyc
__pycache__/King_Sprites.cpython-37.pyc
__pycache__/King_Sprites.cpython-38.pyc
__pycache__/King_Sprites.cpython-311.pyc
__pycache__/King.cpython-37.pyc
__pycache__/King.cpython-38.pyc
__pycache__/King.cpython-311.pyc
__pycache__/Level.cpython-37.pyc
__pycache__/Level.cpython-38.pyc
__pycache__/Level.cpython-311.pyc
__pycache__/Menu.cpython-37.pyc
__pycache__/Menu.cpython-38.pyc
__pycache__/Menu.cpython-311.pyc
__pycache__/Names.cpython-37.pyc
__pycache__/Names.cpython-38.pyc
__pycache__/Names.cpython-311.pyc
__pycache__/NPC.cpython-37.pyc
__pycache__/NPC.cpython-38.pyc
__pycache__/NPC.cpython-311.pyc
__pycache__/physics.cpython-37.pyc
__pycache__/physics.cpython-38.pyc
__pycache__/physics.cpython-311.pyc
__pycache__/platform.cpython-38.pyc
__pycache__/Platforms.cpython-37.pyc
__pycache__/Platforms.cpython-38.pyc
__pycache__/Platforms.cpython-311.pyc
__pycache__/Props.cpython-37.pyc
__pycache__/Props.cpython-38.pyc
__pycache__/Props.cpython-311.pyc
__pycache__/Readable.cpython-37.pyc
__pycache__/Readable.cpython-38.pyc
__pycache__/Readable.cpython-311.pyc
__pycache__/scrolling.cpython-37.pyc
__pycache__/scrolling.cpython-38.pyc
__pycache__/scrolling.cpython-311.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/spritesheet.cpython-37.pyc
__pycache__/spritesheet.cpython-38.pyc
__pycache__/spritesheet.cpython-311.pyc
__pycache__/Start.cpython-37.pyc
__pycache__/Start.cpython-38.pyc
__pycache__/Start.cpython-311.pyc
__pycache__/Timer.cpython-37.pyc
__pycache__/Timer.cpython-38.pyc
__pycache__/Timer.cpython-311.pyc
__pycache__/weather.cpython-37.pyc
__pycache__/weather.cpython-38.pyc
__pycache__/weather.cpython-311.pyc
__pycache__/Wind.cpython-37.pyc
__pycache__/Wind.cpython-38.pyc
__pycache__/Wind.cpython-311.pyc
Saves/permanent.dat
__pycache__/Babe_Audio.cpython-37.pyc
__pycache__/Babe_Audio.cpython-38.pyc
__pycache__/Babe_Audio.cpython-311.pyc
__pycache__/Babe.cpython-37.pyc
__pycache__/Babe.cpython-38.pyc
__pycache__/Babe.cpython-311.pyc
__pycache__/BabeSprites.cpython-37.pyc
__pycache__/BabeSprites.cpython-38.pyc
__pycache__/BabeSprites.cpython-311.pyc
__pycache__/Background.cpython-37.pyc
__pycache__/Background.cpython-38.pyc
__pycache__/Background.cpython-311.pyc
__pycache__/BackgroundMusic.cpython-37.pyc
__pycache__/BackgroundMusic.cpython-38.pyc
__pycache__/BackgroundMusic.cpython-311.pyc
__pycache__/Bonfire.cpython-38.pyc
__pycache__/Camera.cpython-38.pyc
__pycache__/Ending_Animation.cpython-37.pyc
__pycache__/Ending_Animation.cpython-38.pyc
__pycache__/Ending_Animation.cpython-311.pyc
__pycache__/environment.cpython-37.pyc
__pycache__/environment.cpython-38.pyc
__pycache__/environment.cpython-311.pyc
__pycache__/Flyers.cpython-37.pyc
__pycache__/Flyers.cpython-38.pyc
__pycache__/Flyers.cpython-311.pyc
__pycache__/hiddenwalls.cpython-37.pyc
__pycache__/hiddenwalls.cpython-38.pyc
__pycache__/hiddenwalls.cpython-311.pyc
__pycache__/JKGame.cpython-38.pyc
__pycache__/JumpKing.cpython-38.pyc
__pycache__/King_Audio.cpython-37.pyc
__pycache__/King_Audio.cpython-38.pyc
__pycache__/King_Audio.cpython-311.pyc
__pycache__/King_Particles.cpython-37.pyc
__pycache__/King_Particles.cpython-38.pyc
__pycache__/King_Particles.cpython-311.pyc
__pycache__/King_Sprites.cpython-37.pyc
__pycache__/King_Sprites.cpython-38.pyc
__pycache__/King_Sprites.cpython-311.pyc
__pycache__/King.cpython-37.pyc
__pycache__/King.cpython-38.pyc
__pycache__/King.cpython-311.pyc
__pycache__/Level.cpython-37.pyc
__pycache__/Level.cpython-38.pyc
__pycache__/Level.cpython-311.pyc
__pycache__/Menu.cpython-37.pyc
__pycache__/Menu.cpython-38.pyc
__pycache__/Menu.cpython-311.pyc
__pycache__/Names.cpython-37.pyc
__pycache__/Names.cpython-38.pyc
__pycache__/Names.cpython-311.pyc
__pycache__/NPC.cpython-37.pyc
__pycache__/NPC.cpython-38.pyc
__pycache__/NPC.cpython-311.pyc
__pycache__/physics.cpython-37.pyc
__pycache__/physics.cpython-38.pyc
__pycache__/physics.cpython-311.pyc
__pycache__/platform.cpython-38.pyc
__pycache__/Platforms.cpython-37.pyc
__pycache__/Platforms.cpython-38.pyc
__pycache__/Platforms.cpython-311.pyc
__pycache__/Props.cpython-37.pyc
__pycache__/Props.cpython-38.pyc
__pycache__/Props.cpython-311.pyc
__pycache__/Readable.cpython-37.pyc
__pycache__/Readable.cpython-38.pyc
__pycache__/Readable.cpython-311.pyc
__pycache__/scrolling.cpython-37.pyc
__pycache__/scrolling.cpython-38.pyc
__pycache__/scrolling.cpython-311.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/spritesheet.cpython-37.pyc
__pycache__/spritesheet.cpython-38.pyc
__pycache__/spritesheet.cpython-311.pyc
__pycache__/Start.cpython-37.pyc
__pycache__/Start.cpython-38.pyc
__pycache__/Start.cpython-311.pyc
__pycache__/Timer.cpython-37.pyc
__pycache__/Timer.cpython-38.pyc
__pycache__/Timer.cpython-311.pyc
__pycache__/weather.cpython-37.pyc
__pycache__/weather.cpython-38.pyc
__pycache__/weather.cpython-311.pyc
__pycache__/Wind.cpython-37.pyc
__pycache__/Wind.cpython-38.pyc
__pycache__/Wind.cpython-311.pyc
__pycache__/Babe_Audio.cpython-37.pyc
__pycache__/Babe_Audio.cpython-38.pyc
__pycache__/Babe_Audio.cpython-311.pyc
__pycache__/Babe.cpython-37.pyc
__pycache__/Babe.cpython-38.pyc
__pycache__/Babe.cpython-311.pyc
__pycache__/BabeSprites.cpython-37.pyc
__pycache__/BabeSprites.cpython-38.pyc
__pycache__/BabeSprites.cpython-311.pyc
__pycache__/Background.cpython-37.pyc
__pycache__/Background.cpython-38.pyc
__pycache__/Background.cpython-311.pyc
__pycache__/BackgroundMusic.cpython-37.pyc
__pycache__/BackgroundMusic.cpython-38.pyc
__pycache__/BackgroundMusic.cpython-311.pyc
__pycache__/Bonfire.cpython-38.pyc
__pycache__/Camera.cpython-38.pyc
__pycache__/Ending_Animation.cpython-37.pyc
__pycache__/Ending_Animation.cpython-38.pyc
__pycache__/Ending_Animation.cpython-311.pyc
__pycache__/environment.cpython-37.pyc
__pycache__/environment.cpython-38.pyc
__pycache__/environment.cpython-311.pyc
__pycache__/Flyers.cpython-37.pyc
__pycache__/Flyers.cpython-38.pyc
__pycache__/Flyers.cpython-311.pyc
__pycache__/hiddenwalls.cpython-37.pyc
__pycache__/hiddenwalls.cpython-38.pyc
__pycache__/hiddenwalls.cpython-311.pyc
__pycache__/JKGame.cpython-38.pyc
__pycache__/JumpKing.cpython-38.pyc
__pycache__/King_Audio.cpython-37.pyc
__pycache__/King_Audio.cpython-38.pyc
__pycache__/King_Audio.cpython-311.pyc
__pycache__/King_Particles.cpython-37.pyc
__pycache__/King_Particles.cpython-38.pyc
__pycache__/King_Particles.cpython-311.pyc
__pycache__/King_Sprites.cpython-37.pyc
__pycache__/King_Sprites.cpython-38.pyc
__pycache__/King_Sprites.cpython-311.pyc
__pycache__/King.cpython-37.pyc
__pycache__/King.cpython-38.pyc
__pycache__/King.cpython-311.pyc
__pycache__/Level.cpython-37.pyc
__pycache__/Level.cpython-38.pyc
__pycache__/Level.cpython-311.pyc
__pycache__/Menu.cpython-37.pyc
__pycache__/Menu.cpython-38.pyc
__pycache__/Menu.cpython-311.pyc
__pycache__/Names.cpython-37.pyc
__pycache__/Names.cpython-38.pyc
__pycache__/Names.cpython-311.pyc
__pycache__/NPC.cpython-37.pyc
__pycache__/NPC.cpython-38.pyc
__pycache__/NPC.cpython-311.pyc
__pycache__/physics.cpython-37.pyc
__pycache__/physics.cpython-38.pyc
__pycache__/physics.cpython-311.pyc
__pycache__/platform.cpython-38.pyc
__pycache__/Platforms.cpython-37.pyc
__pycache__/Platforms.cpython-38.pyc
__pycache__/Platforms.cpython-311.pyc
__pycache__/Props.cpython-37.pyc
__pycache__/Props.cpython-38.pyc
__pycache__/Props.cpython-311.pyc
__pycache__/Readable.cpython-37.pyc
__pycache__/Readable.cpython-38.pyc
__pycache__/Readable.cpython-311.pyc
__pycache__/scrolling.cpython-37.pyc
__pycache__/scrolling.cpython-38.pyc
__pycache__/scrolling.cpython-311.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/spritesheet.cpython-37.pyc
__pycache__/spritesheet.cpython-38.pyc
__pycache__/spritesheet.cpython-311.pyc
__pycache__/Start.cpython-37.pyc
__pycache__/Start.cpython-38.pyc
__pycache__/Start.cpython-311.pyc
__pycache__/Timer.cpython-37.pyc
__pycache__/Timer.cpython-38.pyc
__pycache__/Timer.cpython-311.pyc
__pycache__/weather.cpython-37.pyc
__pycache__/weather.cpython-38.pyc
__pycache__/weather.cpython-311.pyc
__pycache__/Wind.cpython-37.pyc
__pycache__/Wind.cpython-38.pyc
__pycache__/Wind.cpython-311.pyc
Saves/permanent.dat
